---
import '../styles/global.css';
import Footer from './Footer.astro';
import Navbar from './Navbar.astro';

const meta = {
  title: 'Maximilian Hagelstam',
  description: 'Software Developer',
  image: 'https://avatars.githubusercontent.com/u/49094247?v=4',
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{meta.title}</title>
    <meta itemprop="name" content={meta.title} />
    <meta itemprop="description" content={meta.description} />
    <meta itemprop="image" content={meta.image} />
    <meta name="description" content={meta.description} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:image" content={meta.image} />
    <meta property="og:type" content="website" />
  </head>
  <body class="bg-white text-black dark:bg-black dark:text-white">
    <div class="flex flex-col justify-center space-y-16 px-8">
      <Navbar />
      <main
        class="mx-auto flex max-w-2xl flex-col items-start justify-center space-y-16"
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
